.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 100px;
    margin-top: 100px;
    gap: 50px;
}
.contact-title {
    position: relative;
    height: auto;
    font-family: outfit;
    font-weight: bold;
}
.contact-title h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.contact-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section {
    align-items: center;
    display: flex;
    gap: 150px;
}

.contact-left, .contact-right {
    display: flex;
    justify-content: center;
    /* padding: 20px 50px; */
    flex: 1; 
    flex-direction: column;
    font-size: 18px;
    gap: 30px;
}
.contact-left h1{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 22px;
}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-detail a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.contact-detail a:hover {
    transform: scale(1.05);
}

.hr-line {
    border-top: 1px solid #B415FF;
    margin: 5px auto;
    width: 100%;
}

.thank-you{
    justify-content: center;
    margin-bottom: 100px;
    text-align: center;
}
.thank-you spam {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.thank-you h2 {
    font-size: 30px;
}