.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 14px; 
}

.nav-connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 30px;
}
.nav-connect:hover {
    transform: scale(1.05);
}

.navbar-logo {
    width: 110px;
    height: auto;
    font-size: 2.7em;
    font-family: outfit;
    font-weight: bold;
    background: linear-gradient(270deg, #DF8908 10%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    animation: flickerWithGap 2.5s infinite;
}

.navbar-logo img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@keyframes flickerWithGap {
    0%, 15%, 25%, 35%, 45%, 55%, 75%, 85%, 100% {
        -webkit-text-fill-color: transparent;
    }
    20%, 22%, 30%, 50%, 70%, 90% {
        -webkit-text-fill-color: white;
    }
    40%, 60%, 80% {
        -webkit-text-fill-color: transparent;
    }
}